.team {
    background-color: $bg-secondary-color;
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);

    &__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;

        @media screen and (max-width: 1024px) {
            grid-template-columns: repeat(3, 1fr);
            gap: 1.5rem;

            &__member {
                padding: 1rem;
            }
        }

        @media screen and (max-width: 600px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 0.7rem;
            &__member {
                padding: 0 !important;
            }
        }
        @media screen and (max-width: 400px) {
            grid-template-columns: 1fr;
        }
    }
    &__member {
        background-color: $bg-tertiary-color;
        padding: 2rem;
        border: 1px solid transparent;
        border-radius: 1rem;
        transition: $transition;
        position: relative;
        overflow: hidden;

        &:hover {
            background-color: transparent;
            border-color: $primary-color;
        }
        &:hover .team__member-socials {
            right: 0;
        }
        &:hover .team__member-image {
            filter: saturate(1);
        }

        &-image {
            filter: saturate(0);
        }

        &-info * {
            text-align: center;
            margin-top: 1.4rem;
            p {
                color: $light-color;
            }
        }

        &-socials {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -100%;
            display: flex;
            flex-direction: column;
            background: $primary-color;
            border-radius: 1rem 0 0 1rem;
            box-shadow: -2rem 0 2rem rgba(0, 0, 0, 0.3);
            transition: $transition;

            a {
                padding: 1rem;
            }
        }
    }
}
// .team__member:hover .team__member-socials {
//     right: 0;
// }
