.categories {
    background-color: $bg-secondary-color;
    height: 32rem;
    &__section {
        display: grid;
        grid-template-columns: 40% 60%;
        gap: 4rem;
    }
    h1 {
        line-height: 1;
        margin-bottom: 3rem;
    }
    &__left {
        margin-left: 2rem;
        p {
            margin: 1rem 0 3rem;
        }
    }

    &__right {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.2rem;
        @media screen and (max-width: 500px) {
            grid-template-columns: 1fr !important;
            gap: 0.7rem;
        }
        .category {
            background-color: $bg-tertiary-color;
            padding: 1.7rem;
            border-radius: 2rem;
            transition: $transition;

            &:hover {
                box-shadow: 0 3rem 3rem rgba (0, 0, 0.3);
                z-index: 1;
            }
            h5 {
                margin: 2rem 0 1rem;
            }

            &__icon {
                background-color: $primary-color;
                padding: 0.7rem;
                border-radius: 0.9rem;
            }
            p {
                font-size: 0.85rem;
            }
        }
        .category:nth-child(2) .category__icon {
            background-color: $danger-color;
        }
        .category:nth-child(4) .category__icon {
            background-color: $warning-color;
        }
        .category:nth-child(3) .category__icon {
            background-color: $success-color;
        }
        .category:nth-child(5) .category__icon {
            background-color: $success-color;
        }
    }

    @media screen and (max-width: 1024px) {
        height: auto;
        &__section {
            grid-template-columns: 1fr;
            gap: 3rem;
        }
        &__left {
            margin-left: 0;
        }
    }
    @media screen and (max-width: 600px) {
        height: auto;
        &__section {
            text-align: center;
        }
        &__right {
            grid-template-columns: 1fr 1fr;
            gap: 0.7rem;

            .category {
                padding: 1rem;
                border-radius: 1rem;

                &__icon {
                    margin-top: 1rem;
                    display: inline-block;
                }
            }
        }
    }
}
