$primary-color: #6c63ff;
$success-color: #00bf8e;
$warning-color: #f7c94b;
$danger-color: #f75842;
$danger-color-variant: rgba(247, 88, 66, 0.4);
$white-color: #ffffff;
$light-color: rgba(255, 255, 255, 0.7);
$black-color: #000000;
$bg-primary-color: #1f2641;
$bg-secondary-color: #2e3267;
$bg-tertiary-color: #424890;

$container-lg: 80%;
$container-md: 90%;
$container-sm: 94%;

$transition: all 400ms ease-in-out;
